header {
  background-color: #8d99ae;
  // width: 700px;

  .header-container {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    padding-right: 10%;
    font-size: 25px;
    align-items: center;
    background-color: #2b2d42;
    border-radius: 0 0 20px 20px;
    color: #edf2f4;

    cursor: default;
    .fa-solid {
      color: #ef233c;
    }

    .filter-panel,ul{
      font-size: 20px;
      display: flex;
      
      align-items: center;
      list-style: none;
     
      li{
        font-size: 18px;
        margin: 5px;
        width: 100px;
        text-align: center;
        cursor: pointer;      }
      li:hover{
        background-color: #ef233c;

      } 
      p{
        color: #8d99ae;
        font-weight: 700;
        font-size: 18px;
      }     
    }

   

    .jobs-info-header {
      font-size: 20px;
    }
  }
}
